<h2>タイトル</h2>
<p><%= @list.title %></p>
<h2>本文</h2>
<p><%= @list.body %></p>
<%= link_to "編集", edit_todolist_path(@list.id) %>
<!--「show」アクションや「edit」アクションのように「id」パラメータを指定して呼び出すアクションの場合は、モデルオブジェクト(上記では@list変数に格納されている)を使う-->